/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/jvectormap@2.0.4/jquery-jvectormap.css");
/* @import url("..\\node_modules\\bootstrap\\dist\\css\\bootstrap.css"); */

body{
    background-color: rgb(35, 37, 39);
    font-family: Helvetica,Arial,sans-serif;
    padding: 0;
    margin:0;
}

svg{
  touch-action: auto;  
}

.jvectormap-container svg{
 height: 100%;    
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
  height: 50px;
  background-color: gold; 
  /* padding-left: 10px;
  padding-top: 5px;  */
  width: 100%;
  /*padding-bottom: 10px;*/
}

h1{
  font-size: 30px; 
  font-family: unset;
  margin: 0px;
  margin-top: 9px;
  display:inline-block;
}

h3{
  color: gold;
  text-align:center;
  font-size: 25px;
}

.mainContainer{
    height: calc(100% - 150px);
    padding: 25px 12.5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-webkit-scrollbar-corner{
    background:black; 
  }